body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fa;
}

.brand-logo {
  margin-left: 2rem;
}

.nav-button-margin {
  margin-right: 2rem;
}

.navbar-light .navbar-text {
  font-family: 'Lato', sans-serif;
  color: #454545;
}

.navbar {
  margin-bottom: 0;
}

.navbar .navbar-toggler {
  width: 60px;
  height: 40px;
}

.navbar a:not(.btn):not(.dropdown-item) {
  color: #009FDC;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}

.bg-light {
  background-color: #FFFF;
}

.addTripLink:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* naviation link effects */

.cl-effect-1 a::before, .cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  color: #F99B0C;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  color: #F99B0C;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before, .cl-effect-1 a:hover::after, .cl-effect-1 a:focus::before, .cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* end css for link */

.logoutHover {
  cursor: pointer;
}

.login-bg {
  background-image: url(../images/backgrounds/login-bg-1.jpeg);
}

.search-bg {
  background-image: url(../images/backgrounds/index-search-bg-1.jpeg);
  background-size: cover;
  height: 600px;
}

.part-1-lead {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: #454545;
  font-family: 'Abril Fatface', cursive;
}

.card {
  background-color: #f8f9fa;
  margin-bottom: auto;
}

.about-bg {
  background-image: url(../images/backgrounds/about-bg-1.jpeg);
  background-position: 50% 18%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-heading {
  font-size: 3rem;
  color: #FFFF;
  font-family: 'Abril Fatface', cursive;
}

.login-text-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 100%;
}

.about-text-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 100%;
}

.about-heading {
  font-size: 2.5rem;
  color: #f8f9fa;
  font-family: 'Abril Fatface', cursive;
  padding-top: 150px;
}

.about-heading-text {
  font-family: 'Lato', sans-serif;
  color: #f8f9fa;
  font-size: 1rem;
  width: 50%;
  margin: auto;
  padding-bottom: 150px;
}

.about-heading-team {
  font-size: 2.5rem;
  color: #009FDC;
  font-family: 'Abril Fatface', cursive;
  /* padding: 1.5rem; */
}

.section {
  padding: 60px 0;
  position: relative;
  background: #f8f9fa;
}

.title {
  color: #454545;
}

.text-primary {
  color: #F99B0C !important;
}

.description {
  color: #454545;
  font-weight: 300;
}

.btn-primary {
  background-color: #F99B0C;
  color: #FFFFFF;
}

.jumbotron {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.display-4 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 0px;
}

.card-body {
  text-align: center;
}

.table td, .table th {
  border-top: 0px;
}

.trash-hide {
  visibility: hidden;
  cursor: pointer;
}

.showTrash:hover span {
  visibility: visible;
}

.citySelect {
  cursor: pointer;
}

.carousel {
  z-index: -1;
}

.carousel-item {
  height: 500px;
}

.countdown-text-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 1;
  height: 250px;
}

.countdownMessage {
  position: absolute;
  text-align: center;
  top: 12%;
  left: 29%;
  z-index: 1;
  pointer-events: none;
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
}

.clock {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
  pointer-events: none;
}

.flip-clock-divider .flip-clock-label {
  color: #FFFFFF;
}

.clock {
  margin: 2em;
}

.flip-clock-wrapper {
  display: inline-block;
  width: auto;
  height: auto:
}

.weather-title {
  font-family: 'Abril Fatface', cursive;
  color: #454545;
}

h2, .h2 {
  margin-bottom: 0px;
}

.weather-div {
  height: 300px;
  background-color: #f8f9fa;
}

.weather-card-body {
  padding: 2rem;
}

.weather-destination-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: #009FDC;
}

.weather-day {
  font-weight: bold;
  color: #F99B0C;
}

.fixed-height-city {
  height: 270px;
}

.fixed-height-list {
  overflow-y: scroll;
  height: 270px;
}

.fixed-height {
  overflow-y: scroll;
  height: 400px;
}

.align-left {
  text-align: left;
}

.signinCardContainer {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}

.btn-sm {
  font-size: .5rem;
}

.trashColumn:hover span {
  visibility: visible;
}

.list-p:hover {
  cursor: pointer;
  opacity: .7;
}

.packing-list-bg {
  background-image: url(../images/backgrounds/packing-list-bg.jpeg);
  background-position: 50% 18%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.packing-text-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  width: 100%;
}

.packing-title {
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
}

.packing-list-height {
  max-height: 250px;
  overflow: scroll;
}

/* When clicked on, add a background color and strike out text */

.col-checked {
  text-decoration: line-through;
  padding-left: 1em;
}

/* Add a "checked" mark when clicked on */

.col-checked::before {
  content: '✓';
  position: absolute;
}

.separator.separator-primary {
    background-color: #009FDC;
}

.map {
  width: 100%;
}

.image-left {
  margin-left: 20%;
  background-image: url(../images/backgrounds/google-maps-bg.jpeg);
}

.image-right {
  margin-bottom: 90px;
}

.title-area-size {
  width: 50%;
}

.blogEntryContainer {
  border: 1px solid #DCDCDC;
  padding: 1rem;
}

.blogTitleView {
  font-size: 1.5rem;
  font-weight: bold;
}

.blogTimeStampView {
  font-size: .5rem;
}

.trash-blog-button {
  cursor: pointer;
}

.trash-blog-button:hover {
  opacity: .7;
}

.edit-blog-button {
  cursor: pointer;
}

.edit-blog-button:hover {
  opacity: .7;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f8f9fa;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  color: #009FDC;
  height: 3rem;
}

.footer-link:hover {
  color: #454545;
  decoration: none;
}

a.footer-link {
  color: #009FDC;
}

.wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 4rem);
}

/* @media only screen and (max-width: 1366px) {
.search-bg {
    background-size: 300%;
    height: 890px;
} */

@media screen and (min-width: 768px) {
.image-container.image-right {
    top: 80px;
    margin-left: -100px;
    margin-bottom: 90px;
}
}

@media only screen and (max-width: 1024px) {
  .search-bg {
    background-size: 300%;
    height: 1230px;
  }
}

@media only screen and (max-width: 992px) {
  .clock {
    zoom: 0.8;
    -moz-transform: scale(0.8)
  }
  .login-heading {
    font-size: 2.8rem;
  }
  /* .fixed-height-city {
    overflow-y: scroll;
    height: auto;
} */
  .part-1-lead {
    font-size: 1.2rem;
  }
  .search-bg {
    height: 900px;
  }
}

@media only screen and (max-width: 768px) {
  .clock {
    zoom: 0.5;
    -moz-transform: scale(0.5)
  }
  .login-heading {
    font-size: 2.5rem;
  }
  /* .fixed-height-city {
    overflow-y: scroll;
    height: auto;
} */
  .part-1-lead {
    font-size: 2rem;
  }
  .search-bg {
    height: 900px;
  }
}

@media only screen and (max-width: 483px) {
  .clock {
    zoom: 0.35;
    -moz-transform: scale(0.35)
  }
  .login-heading {
    font-size: 2.3rem;
  }
  /* .fixed-height-city {
    overflow-y: scroll;
    height: auto;
} */
  .part-1-lead {
    font-size: 1.5rem;
  }
  .search-bg {
    height: 750px;
  }
}

@media only screen and (max-width: 410px) {
  .clock {
    zoom: 0.3;
    -moz-transform: scale(0.3)
  }
  .login-heading {
    font-size: 2rem;
  }
  /* .fixed-height-city {
    overflow-y: scroll;
    height: auto;
} */
  .part-1-lead {
    font-size: 1.2rem;
  }
  .search-bg {
    height: 750px;
  }
}
